// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #ff0046;
// hsl(343,100,50);
// rgb(255,0,70)

$purple: #390ab2;
// hsl(256,89,36)
// rgb(57,10,178)
$dark-late-gray: #26282b;
// hsl(216,6,15)
// rgb(38,40,43)
