// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}

.hero {
  background-color: $pink;
}
#lading-page-text {
  color: white;
  h2 {
    font-size: 50px;
    letter-spacing: 2px;
  }
}

// .searchbar input[type="submit"] {
//   // border: none;
// }

.left-button{
  width: 45%
}
.right-button{
  width: 45%
}
