.court-img {
  // width: 50%;
  // height: 40vh;

}
.court-img img {
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}
.court-description {
  i {
    color: $purple;
    font-size: .9em;
  }
}
