<div class="searchbar">
  <%= form_tag courts_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        placeholder: "Search for courts",
        class: "search-bar" %>
    <br>
    <div class="d-flex justify-content-between">
        <%= submit_tag "Search", class: "btn btn-danger left-button my-3" %>
        <button type="button" class="btn btn-outline-light right-button my-3">Check map</button>
    </div>
  <% end %>

</div>
