<div class="container">
  <h2><%= @event.name %></h2>
  <% if policy(@event).edit? %>
    <%= link_to "Edit", edit_court_event_path([@court, @event]), class: "btn btn-primary" %>
  <% end %>
  <!-- JOIN BUTTON -->
  <% if @event.event_user_ids.count >= @event.num_of_players %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>Event full</p>
    </div>
  <%= button_to "Join Event", court_event_event_users_path(@court, @event), method: :post, class: "btn btn-primary", disabled: true %>
  <% else %>
  <%= button_to "Join Event", court_event_event_users_path(@court, @event), method: :post, class: "btn btn-primary"%>
  <% end %>
</div>
