<div class="pin-content">
  <div class="pin-text">
    <%= link_to court_path(court) do %>
      <h6><%= court.name %></h6>
      <p><%= court.address %></p>
    <% end %>
  </div>
<%= link_to "Add event", new_court_event_path(court), class: "all-buttons btn-block pink-button text-center" %>
</div>


