.player a:link, .created-by a:link{
  color: $pink !important;
}
.player a:visited, .created-by a:visited {
  color: $pink !important;
}
.players-joined ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    a:hover {
    color: $pink;
    transition: .5s;
    text-decoration: none;
  }
}
.event-info i, .location i {
  color: $purple;
}
.players-list {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
  box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
}
.court-img {
  background-color: $purple;
  img {
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.8;
  }
}
.header {
  position: relative;
}
.court-description {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
    i {
      color: white;
      font-size: .8em;
    }
}
.event-header {
  background-image: linear-gradient(to bottom, rgba(255,0,70, 0.6), rgba(57,10,178, 0.8)), url("https://images.unsplash.com/photo-1474224017046-182ece80b263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 40vh;
  i {
      color: white;
      font-size: .8em;
    }
}
.message {
  i {
    font-size: 1.4em;
  }
}
.event-header a:link {
  color: white !important;
}
.event-header a:visited {
  color: white !important;
}
