.pin-text {
 width: 150px;
}
.pin-text a:link {
  color: black;
}
.pin-text a:visited {
  color: black;
}
.pin-text a:hover {
  color: red;
  text-decoration: none;
}
.pin-text a:active {
  color: black;
}
