.searchbar {
  width: 50%;
}
.search-bar{
  border: 1px solid grey;
  border-radius: 2px;
  outline: 0;
  padding: 6px 40px 6px 20px;
  width: 100%;
}
.search-bar-sm{
  border: 1px solid grey;
  border-radius: 2px;
  outline: 0;
  padding: 6px 40px 6px 20px;
  width: 80%;
}
